@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.body
{
    font-family: 'ubuntu';
}
nav
{
  font-family:'ubuntu';

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background-color: #227682;
    color: azure;
}
nav ul li
{
    padding: 0 12px;
}
.logo
{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.logo img
{
    padding:0 8px ;
}
.musicplayer
{
    display: flex;
}
.player
{
    font-family: 'ubuntu';
    display: flex;
    width: 70%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.music
{
    width: 30%;
}
.box
{
    background-color: #76d6e3;
    border-radius: 30px;
    border-color: black;
    border-width: 10px;
    width: 450px;
    height: 700px;
    box-shadow: 0px 40px 100px  #227682 ;
    overflow: hidden;
    padding: 15px;
}
.music-name,.artist-name
{
    color: white;
    text-align: center;
    text-transform: capitalize;
}
.music-name
{
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
}
.artist-name
{
    font-size: 20px;
}
.disk
{
    position: relative;
    display: block;
    margin: 40px auto;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-image: url("th-modified.png");
    background-size: cover;
    box-shadow: 0 0 0 10px #227682;
}
.disk
{
    animation: pul 4s linear infinite;;
}
@keyframes pul{
    0%
    {
        box-shadow: 0;
    }
    50%
    {
        box-shadow: 0 0 0 15px rgba(255,255,255,0.1);
    }
    100%
    {
        box-shadow: 0 0 0 25px rgba(255,255,255,0.7);
    }
}
.slider
{
    width: 100%;
    position: relative;
}
.seek-bar
{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #aaf2fc;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}
.seek-bar::-webkit-slider-thumb
{
    -webkit-appearance: none;
    height: 1px;
    width: 1px;
    background: #000;
    box-shadow:-400px 0 0 400px #227682;
}
.current-time,.song-time
{
    font-size: 15px;
    color: white;
}
.song-time
{
    position: absolute;
    right: 0;
}
.controls
{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}
.play
{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #59bece;
    cursor: pointer;
    border: none;
}
.play span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: #000;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.play span:nth-child(2)
{
    left: 55%;
    transform-origin: center;
}
.play.pause span:nth-child(2)
{
    transform: translateY(-50%) scaleY(0);
}
.play.pause span:nth-child(1)
{
    width: 35%;
    left: 58%;
    transform: translateY(-50%) scaleY(0);
    transform: translate(-50%, -50%);
    border-radius: 0%;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}
.play.pause
{
    animation: pulse 2s linear infinite;
}
@keyframes pulse{
    0%
    {
        box-shadow: 0;
    }
    50%
    {
        box-shadow: 0 0 0 5px rgba(255,255,255,0.1);
    }
    100%
    {
        box-shadow: 0 0 0 5px rgba(255,255,255,0.4);
    }
}
.btn
{
    width: 40px;
    height: 40px;
    background: #59bece;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;

}
.list
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 40px;
    width: 30%;
}
.s1,.s2,.s3,.s4,.s5
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    height: 15%;
    width: 75%;
    border-radius: 20px;
    text-align: center;
    text-justify: center;
}
.so1,.so2,.so3,.so4,.so5{
    height: 100px;
    border-radius: 20px;
    width: 100px;
    background-color: #76d6e3;
    color: white;
    font-size: 20px;
    font-family: 'ubuntu';
}

@media only screen and (max-width: 720px){
    .musicplayer
    {
        flex-direction: column-reverse;
    }
    .list{
        flex-direction: row;
        height: fit-content;
        margin: none;
        width: fit-content;
        margin-left: none;
    }
    .so1,.so2,.so3,.so4,.so5{
        height: 50px;
        border-radius: 16px;
        width: 50px;
        background-color: #76d6e3;
        color: white;
        font-size: 12px;
        font-family: 'ubuntu';
    }
    .s1,.s2,.s3,.s4,.s5
    {
        margin-right: 20px; 
    }
    .player
    {
        width: 100%;
    }
}
@media only screen and (max-height: 760px){
    .player
    {
        height:auto;
        overflow: hidden;
    }
}
